In [1]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
import numpy as np
import seaborn as sns

# Load the dataset
data = pd.read_csv('Cleaned_2.csv')

In [2]:
data

,id,city,postal_code,district,province,price,subtype,state_construction,living_area,terrace_area,...,has_garden,kitchen,fireplace,swimmingpool,has_terrace,has_attic,has_basement,construction_year,epc,area_total
0,1882546,wenduine,8420,oostend,west flanders,163000.0,CHALET,AS_NEW,62.0,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,2023.0,NaN,155.0
1,2784938,heist-aan-zee,8301,brugge,west flanders,108000.0,BUNGALOW,AS_NEW,51.0,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,2023.0,NaN,170.0
2,6675519,zonhoven,3520,hasselt,limburg,392422.0,HOUSE,NaN,206.0,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,2023.0,NaN,370.0
3,7066131,bredene,8450,oostend,west flanders,245000.0,HOUSE,AS_NEW,76.0,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,2023.0,B,150.0
4,7222190,geel,2440,turnhout,antwerp,335527.0,HOUSE,NaN,160.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,431.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30549,11157653,hoboken,2660,antwerp,antwerp,499000.0,HOUSE,JUST_RENOVATED,293.0,NaN,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,1937.0,E,435.0
30550,11157656,hoboken,2660,antwerp,antwerp,535000.0,HOUSE,TO_BE_DONE_UP,201.0,30.0,...,1.0,1.0,1.0,NaN,1.0,NaN,NaN,1986.0,D,630.0
30551,11157657,hoboken,2660,antwerp,antwerp,569000.0,HOUSE,GOOD,155.0,NaN,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,1988.0,B,623.0
30552,11157680,wilrijk,2610,antwerp,antwerp,429000.0,HOUSE,GOOD,143.0,NaN,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,1956.0,D,282.0
30553,11157693,wichelen,9260,dendermonde,east flanders,395000.0,HOUSE,AS_NEW,170.0,NaN,...,NaN,1.0,NaN,NaN,1.0,1.0,NaN,2024.0,NaN,418.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30554 entries, 0 to 30553
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  30554 non-null  int64
 1   city                30554 non-null  object
 2   postal_code         30554 non-null  int64
 3   district            30554 non-null  object
 4   province            30554 non-null  object
 5   price               30554 non-null  float64
 6   subtype             30554 non-null  object
 7   state_construction  22609 non-null  object
 8   living_area         30554 non-null  float64
 9   terrace_area        8151 non-null   float64
 10  garden_area         9442 non-null   float64
 11  rooms               8961 non-null   float64
 12  bedrooms            30357 non-null  float64
 13  bathrooms           27831 non-null  float64
 14  livingroom_surface  13661 non-null  float64
 15  kitchen_surface     12493 non-null  float64
 16  facades             24632 non-null  float64
 17  has_garden          11584 non-null  float64
 18  kitchen             18273 non-null  float64
 19  fireplace           6066 non-null   float64
 20  swimmingpool        1119 non-null   float64
 21  has_terrace         16005 non-null  float64
 22  has_attic           9142 non-null   float64
 23  has_basement        12152 non-null  float64
 24  construction_year   18398 non-null  float64
 25  epc                 25069 non-null  object
 26  area_total          30554 non-null  float64
dtypes: float64(19), int64(2), object(6)
memory usage: 6.3+ MB